<nav
      class="d-flex align-items-center justify-content-between light fw-bold p-3"
        style="background-color: #0d1321;"
      >
      <a href="/" class="nav-link text-decoration-none fs-4 text-white"
        >#Daily|Updates</a
      >
      <div class=" d-flex justify-content-evenly gap-2">
        <a href="/latest" class="m-2 fs-6 text-decoration-none text-white"
          >Latest</a
        >
        <a href="/business" class="m-2 fs-6 text-decoration-none text-white"
          >Business</a
        >
        
        <a href="/health" class="m-2 fs-6 text-decoration-none text-white"
          >Health</a
        >
        <a href="/entertainment" class="m-2 fs-6 text-decoration-none text-white"
          >Entertainment</a
        >
        <a href="/nation" class="m-2 fs-6 text-decoration-none text-white"
          >Nation</a
        >
        <a href="/science" class="m-2 fs-6 text-decoration-none text-white"
          >Science</a
        >
        <a href="/world" class="m-2 fs-6 text-decoration-none text-white"
          >World</a
        >
        <a href="/sports" class="m-2 fs-6 text-decoration-none text-white"
          >Sports</a
        >
        <a href="/technology" class="m-2 fs-6 text-decoration-none text-white"
          >Technology</a
        >

      </div>
    </nav>